$body-background: rgb(17, 16, 15);
$scrollbar-color: rgb(60, 60, 60);

:root body {
  background-color: $body-background;
  overflow: hidden;
}

.simplebar-scrollbar::before {
  background-color: $scrollbar-color !important;
}

*.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

