.white-text-field {
  color: white;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MuiFormLabel-root {
  color: white;
}

.MuiInputBase-input {
  color: white;
}

#save-button {
  position: fixed;
  bottom: 0;
  right: 0;
}
